@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Book

<tr>
    <td>@Model.BookId</td>
    <td>@Model.Title</td>
    <td>@Model.Author</td>
    <td>@Model.Publisher</td>
    <td>@Model.Isbn</td>
    <td>@Model.Classification</td>
    <td>@Model.Category</td>
    <td>@Model.PageCount</td>
    <td>$@Model.Price</td>
    <td>
        <form method="post" asp-page="/Purchase">

            <input type="hidden" asp-for="@Model.BookId" />
            <input type="hidden" name="returnURL" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
            <span class="card-text">
                <button type="submit" class="btn btn-success btn-sm float-end">Purchase</button>
            </span>
        </form>
    </td>

    

    @*<td><a asp-controller="Home" asp-action="Edit" asp-route-movieid="@Model.BookId">Edit</a></td>*@
    @*<td><a asp-controller="Home" asp-action="Delete" asp-route-movieid="@Model.BookId">Delete</a></td>*@
</tr>

